{
    "extends": "standard",
    "parserOptions": { "ecmaVersion": 5 },
    "plugins": [
        "standard",
        "promise"
    ],
    "globals": {
        "define": true
    },
    "rules": {
      "no-amd": 0,
      "semi": ["error", "always"]
    }
}
